body {
  background-color: $bodyBgColor;
  font-family: $defaultFont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
}

#app {
  
  @include breakpoint($medium) {
    @include container($mediumContainer);
  }
  @include breakpoint($large) {
    @include container($largecontainer);
  }
}

