// Colors
$bodyBgColor: #262626;
$sectionBgColor: #FFFFFF;


// Layout
$smallLayout: layout(100% 12 .25 fluid);
$mediumContainer: 90%;
$largecontainer: 65em;

// Breakpoints
$medium: 48em;
$large: 68em;

// Fonts
$defaultFont: Lato, sans-serif;
$headerFont: Oswald, sans-serif;