.markdown {
  // @include span(12);
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 1em;
  background-color: $sectionBgColor;
  width: 100%;
  min-height: 400px;
  border-radius: 5px;
  @include breakpoint($medium) {
    margin: 0 10px;
    width: 90%;
  }
}