.preview {
  // @include span(12);
  box-sizing: border-box;
  padding: 1em;
  background-color: $sectionBgColor;
  border-radius: 5px;
  width: 100%;
  @include breakpoint($medium) {
    margin: 0 10px;
    width: 90%;
  }
}